*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title{
    font-size: 72px;
    background: -webkit-linear-gradient(rgba(128, 0, 128, 0.685), rgb(76, 0, 130));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.search-button {
    border-color: indigo;
    color: #fff;
    font-weight: bold;
    padding: 5px 35px;
    box-shadow: 0 0 40px 40px purple inset, 0 0 0 0 indigo;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .search-button:hover {
    box-shadow: 0 0 0 0 purple inset, 0 0 0 4px indigo;
  }
  .search-button:focus {
      color: purple;
  }

  .card-design {
      border: 1px solid gray;
      border-radius: 15px;
  }